body{
  background-color: rgb(101, 89, 89);

}
header{
  display: flex;
  padding-top: 15px;
  background-color: black;
}
header p{
  color: blanchedalmond;
}
ul {
   display: flex;
    padding: 0;
    justify-content: space-around;
    width: 648px;

}


