body{
    margin:0;
    background-image: url("background1.png");
    background-repeat: no-repeat;   
    background-size: cover;        
    background-position: center;    
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.navbar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkmagenta;
}
.logo img{
    height:60px;
    justify-content: start;
    margin-left: 30px;
}
.menu, .menu_droite {  /* Changer le texte ! puis mettre un lien */
    display: flex;
    gap: 30px;
}
.menu a, .menu_droite a {
    text-decoration: none;
    color: white;
}
.menu{
    justify-content: center;
}
.menu_droite{
    justify-content: end;
    margin-right: 30px;
}
.container {                        /* Boite Centrée début*/
    width: 70%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    /* plus de height fixe */
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    justify-content: center; 
    align-items: flex-start; /* laisse la boîte s'adapter verticalement */
    padding-top: 20px;       
    padding-bottom: 20px;
    flex: 1;    
}                                       /* Boite Centrée fin */

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

#submit {
    background-color: darkmagenta;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover {
    background-color: purple;
}

.categories{
text-align:center;
padding:60px;
background:#f5f5f5;
}

.categorie-container{
display:flex;
justify-content:center;
gap:60px;
}

.categorie{
background:white;
padding:20px;
border-radius:10px;
width:200px;
}

.categorie img{
width:100%;
}

.categorie a{
text-decoration:none;
color:#36254c;
font-weight:bold;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
}